@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .menu-highlight {
    -webkit-text-stroke: 1px yellow;
    text-shadow: 1px 4px yellow;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
